@charset "UTF-8";

// 기업홈페이지 푸터
.footer {
	&.footer--company {
		border-top: 1px solid $gray-d;
		padding: rem(40) 0;

		.footer {
			&-wrap {
				display: flex;
				flex-wrap: wrap;
			}
			&__name {
				// flex: 0 0 rem(180);
				// max-width: rem(180);
				padding-right: rem(20);
				@include mdq-max(lg) {
					margin-bottom: 1rem;
				}
				.h1 {
					font-size: em(24);
					font-weight: 700;
					line-height: 1.2;
				}
			}
			&__content {
				flex: 1 1 auto;
				width: 1%;
				font-size: rem(13);
				font-weight: 300;
				color: #888;
				@include mdq-max(lg) {
					flex: 1 1 100%;
					width: 100%;
				}
			}
		}
	}
}
